<!DOCTYPE html>
<html>
<head>
    <title>添加erp管理员</title>
    #parse("header.html")
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/main.css">
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">erp：</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="erpSysUser.userErp" placeholder="erp"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">用户名字：</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="erpSysUser.username" placeholder="用户名字"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">用户类型：</div>
            <div class="col-sm-10">
                <input type="radio" class="radio-inline" v-model="erpSysUser.userType" value="0"/>超级管理员

                <input type="radio" class="radio-inline" v-model="erpSysUser.userType" value="1"/>业务运营管理员
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">系统选择：</div>
            <div class="col-sm-12">
                <!-- <select class="form-control" v-model="erpSysUser.systemCode" @change="selectVal">
                     <option v-for="option in resources" v-bind:value="option.resourceCode">
                         {{ option.resourceName }}
                     </option>
                 </select>-->
                <template v-for='(option,index) in resources'>
                    <input type='checkbox' name="checkbox" class='input-checkbox' v-model='option.checked'
                           :value='option.resourceCode' @click="selectVal">{{option.resourceName}}
                    &nbsp;&nbsp; <p v-if="(index+1)%4==0"><br></p>
                    &nbsp;&nbsp;
                    <!--  <br>-->
                </template>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="保存"/>
            <!--&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>-->
        </div>
    </form>
</div>

<script src="${rc.contextPath}/js/erpsysuser_add.js?_${date.systemTime}"></script>
</body>
</html>